body{
	list-style-type: none;
	background-color: darkgrey;
	padding: 0px;
	margin:0px;
}

.header{
	background-color: red;
	text-align: center;
	padding: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


#login{
	background-color: black;
	height: 23px;
}

button{
	width: 100px;
	height: 40px;
	color: white;
	background-color: blue;
	margin-right: 5px;  
}

.inlogg{
	text-align: right;
}
.container{
	margin-left: 100px;
}