body{
	list-style-type: none;
	background-color: darkgrey;
	padding: 0px;
	margin: 0px;
}
/* ...................Header..................... */
.AppHeader li a {
	float: left;
	text-decoration: none;
	color: red;
	font-size: 20px;
	padding: 3px;
	border: solid red;
	margin-top: -5px;
}

.AppHeader{
	background-color: black;
	text-align: center;
	padding: 15px;
}
.AppHeader b{
	color: red;
}

.uname{
	padding-right: 10px;
}

.psw{
	padding: 0 10px 0 40px;
}

#login{
	background-color: red;
	height: 23px;
	margin-left: 5px;
	color: black;
}

/* .................Tabell...................*/
table, th, td{
	height: 5em;
	width: 70em;
	position: relative;
	border-collapse: collapse; 
	border: 2px solid black;
	margin-left: 20%;
	padding: 0 10px 0 10px;
	margin-top: 5em;
	text-align: center;
}



/* .............Footer............... */
.Footer {
	position: absolute;
	bottom: 0;
	height: 2.5rem;
	width: 100%;
  	background-color: black;
  	color: white;
	text-align: center;
}

.Footer a{
	color:Red;
}


